# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Detective-Cyberpunk-Club.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\GitHub\Detective-Cyberpunk-Club\.idea\.idea.Detective-Cyberpunk-Club\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
